.main,
.main-container {
  height: 100%;
}

.row {
  max-width: 1024px;
}
/*
 *  Typography
*/
a,
li,
p {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

a {
  color: #219e9a;
}

h2,
h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #313131;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 40px;
  color: rgba(49, 49, 49, 0.7);
}

p:not(.author) {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}

p.author {
  margin-bottom: 10px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(49, 49, 49, 0.5);
}
/*
 *  Button
*/
a.button {
  margin-bottom: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgba(49, 49, 49, 0.5);
}
// a.button:hover, a.button:focus {
//   background-color: #219e9a;
// }

.menu-search {
  float: right;
  width: calc(100% - 200px);
}
/*
 *  Search Input
*/
.catalog-search {
  position: relative;
  margin: 0 20px;
  max-width: 275px;
  width: calc(100% - 2em);
  vertical-align: top;
  overflow: hidden;
  float: right;
}

.input_field {
  position: relative;
  display: block;
  float: right;
  margin-top: 10px;
  padding: 14px 7px 0;
  width: 100%;
  border: none;
  border-radius: 0;
  color: #313131;
  font-weight: normal;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}

.input_field:focus {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.input_field:focus .input_label-content {
  bottom: 20px;
}

.input_label {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  color: #d2d6d5;
  font-weight: light;
  font-size: 15px;
  text-align: left;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input_label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid rgba(49, 49, 49, 0.45);
}

.input_label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 3px solid #219e9a;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.input_label-content {
  position: absolute;
  width: 100%;
  bottom: 14px;
}

.input_label-search {
  position: relative;
  display: block;
  color: rgba(49, 49, 49, 0.45);
}

.input_label-search:after {
  content: '\f002';
  position: absolute;
  top: 7px;
  right: 5px;
  font-family: 'fontawesome';
}

.input--filled .input_label::after,
.input_field:focus + .input_label::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input--filled .input_label-content,
.input_field:focus + .input_label .input_label-content {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }

  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    bottom: 24px;
    -webkit-transform: translate3d(5em, 0, 0);
    transform: translate3d(5em, 0, 0);
  }

  51% {
    opacity: 0;
    bottom: 24px;
    -webkit-transform: translate3d(-5em, -40%, 0);
    transform: translate3d(-5em, -40%, 0);
  }

  100% {
    opacity: 1;
    bottom: 24px;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
/*
 *  Menu
*/
.main-navigation {
  position: relative;
  float: right;
  margin: 16px 0;
  padding: 0 20px;
  height: 40px;
  border-left: 1px solid #d2d6d5;
}

.main-navigation a {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #313131;
}

.main-navigation a:before {
  content: '\f0c9';
  position: relative;
  display: inline-block;
  padding-right: 10px;
  font-family: "fontawesome";
  font-size: 18px;
  font-weight: 400;
  color: rgba(49, 49, 49, 0.45);
  vertical-align: middle;
}
/*
 *  Off Canvas Menu
*/
.main-container {
  position: relative;
  overflow-x: hidden;
}

.main-container.nav-menu-open,
.main-container.prevent-scroll {
  overflow: hidden;
}
/*
 *  book List
*/
.toolbar {
  margin-bottom: 30px;
  border-bottom: 1px solid #888888;
}

.toolbar select {
  margin-bottom: 7px;
  color: #313131;
  font-size: 14px;
  border: none;
  background-color: transparent;
}

.toolbar .filter-options {
  line-height: 40px;
}

.toolbar a.filter-item {
  margin-right: 16px;
  padding-bottom: 18px;
  font-size: 14px;
  color: #313131;
  border-bottom: 0 solid transparent;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.toolbar a.filter-item:last-child {
  margin-right: 0;
}

.toolbar a.filter-item.active {
  padding-bottom: 15px;
  color: #219e9a;
  font-weight: bold;
  border-bottom: 3px solid #219e9a;
}

#grid {
  margin-bottom: 60px;
}

.book-item {
  margin: 15px 0;
  padding: 15px;
  list-style-type: none;
}

.book-item:after {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  width: calc(100% - 105px);
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 0 0 transparent;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.book-item:hover:after {
  box-shadow: 0 1px 1px 1px rgba(210, 214, 213, 0.5);
  background-color: #fff;
}

.book-item:hover .item-img img {
  box-shadow: 0 0 10px 0 rgba(49, 49, 49, 0.25);
}

.book-item:hover a.button {
  background-color: #219e9a;
}

.book-item:hover .bk-bookdefault {
  -webkit-transform: rotate3d(0, 1, 0, 25deg);
  transform: rotate3d(0, 1, 0, 25deg);
}

.book-item:hover .bk-back {
  opacity: 1;
}

.book-item .item-img {
  display: inline-block;
  float: left;
  padding-right: 30px;
}

.book-item .item-img img {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.book-item .item-details {
  padding-right: 30px;
}

.book-item h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-item p:not(.author) {
  display: block;
  display: -webkit-box;
  height: 63px;
  /* Fallback for non-webkit */
  font-size: 15px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
 *  Book Rotate
*/
.bk-img {
  position: relative;
  display: inline-block;
  float: left;
  padding-right: 30px;
  list-style: none;
  /* Individual style & artwork */
}

.bk-img .bk-wrapper {
  position: relative;
  width: 150px;
  height: 215px;
  float: left;
  z-index: 1;
  -webkit-perspective: 1400px;
  perspective: 1400px;
}

.bk-img .bk-wrapper:last-child {
  margin-right: 0;
}

.bk-img .bk-book {
  position: absolute;
  width: 100%;
  height: 215px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.bk-img .bk-book > div,
.bk-img .bk-front > div {
  display: block;
  position: absolute;
}

.bk-img .bk-front {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}

.bk-img .bk-front > div {
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-img .bk-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.bk-img .bk-back,
.bk-img .bk-front,
.bk-img .bk-front > div {
  width: 150px;
  height: 215px;
}

.bk-img .bk-left,
.bk-img .bk-right {
  width: 40px;
  left: -20px;
}

.bk-img .bk-back {
  -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.3);
  border-radius: 3px 0 0 3px;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

.bk-img .bk-back:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-img .bk-left {
  height: 215px;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
}

.bk-img .bk-left h2 {
  width: 215px;
  height: 40px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.bk-img .bk-cover {
  /*background-image: url(../images/1.png);*/
  background-repeat: no-repeat;
  background-position: 10px 40px;
}

.bk-img .bk-cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-img .bk-cover {
  background-repeat: no-repeat;
  background-position: top left !important;
}

.bk-img .bk-front > div,
.bk-img .bk-left {
  background-color: #219e9a;
}

.preview {
  padding: 10px;
  border: 0px solid red;
  border-radius: 5px;
  background-color: #219E9A;
  color: white;
}




.image_top {
  text-align: center;
  height: 300px;
  background: url('book.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: contrast(90%);
  align-items: center;

  .book_image {
    height: 300px;
    width: 500px;
    margin: 0 auto;
  }
}

.book_info {
  text-align: center;
  // height: 200px;
  .profile_img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

.reading_area {
  text-align: left;
  font-size: 21px;
  line-height: 33.18px;
  display: block;
  padding-right: 150px;
  padding-left: 150px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
//Customizing the pagination
.pagination {
  background: white;
  cursor: default;
  height: 22px;

  a,
  em,
  span {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }

  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }

  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;

    &:focus,
    &:hover {
      color: #000033;
      border-color: #000033;
    }
  }
}
//icons
.icon {
  margin-left: 10px;
  padding: 10px;
}

.fa-plus,
.fa-trash {
  color: #404040;
  position: relative;
  display: inline-block;
  border-bottom: 1px;

  .tooltiptext {
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
}

.fa-plus:hover .tooltiptext {
  visibility: visible;
}

.fa-trash:hover .tooltiptext {
  visibility: visible;
}
// //upvote and downvote
.dislike,
.like {
  display: inline-block;
  cursor: pointer;
  // margin: 10px;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.fa-thumbs-down,
.fa-thumbs-up {
  color: black;
}
