<head>
    <title>Bookworm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<div id="main" class="is-loading">
	<h1>
		BookWorm
	</h1>
</div> 